@model IEnumerable<Ahorasi.BD.VehiculosR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Estilos/StyleSheet6.css"/>


<div class="contan">
    <div class="contai">
        <div class="table_header">
            <h2>Parqueadero.</h2>
            <button>@Html.ActionLink("Create New", "Create")</button>
            <div class="input_search">
                <input type="search" placeholder="Buscar" />
                <i class="bi bi-search" id="search"></i>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoVehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Placa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuarios.Nombres)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoVehiculo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.Nombres)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id_Vehiculo }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id_Vehiculo }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id_Vehiculo })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

